//
// Atlantis - tile laying fun for the whole family!
// https://github.com/threerings/atlantis

package atlantis.shared;

/**
 * Exposes deployment configuration to the game.
 */
public class Deployment
{
    /** The version number assigned to this build. */
    public static String version () {
        return "@build_version@";
    }

    /** The time at which this build was performed. */
    public static String time () {
        return "@build_time@";
    }

    /** The Nexus server hostname. */
    public static String nexusServerHost () {
        return "@nexus_server_host@";
    }

    /** The Nexus direct socket port. */
    public static int nexusSocketPort () {
        return @nexus_socket_port@;
    }

    /** The Nexus WebSocket servlet port. */
    public static int nexusWebPort () {
        return @nexus_web_port@;
    }

    /** The Nexus WebSocket servlet path. */
    public static String nexusWebPath () {
        return "@nexus_web_path@";
    }
}
